.display-none{
    display: none;
}

.display-block{

    &-desktop{
        display: block;
    }

    &-mobile{
        @media screen and (max-width: 60em){
            display: block;
        }
    }
}

.display-flex{
    display: flex;
}