.flex{
    display: flex;

    &--ai-c{
        align-items: center;
    }

    &--ai-fe{
        align-items: flex-end;
    }

    &--jc-sb{
        justify-content: space-between;
    }

    &--col{
        flex-direction: column;
    }

    &--col-rev{
        @media screen and (max-width: 60em){
            flex-direction: column-reverse;
        }
    }

}

.grid{
    display: grid;

    &--ji-c{
        justify-items: center;
    }
}